<div class="container-fluid" style="padding: 0 30px; margin-top: 25px;">
  <div class="">
    <div class="row">
      <div class="prueba col-sm-12 col-md-12">
        <div class="red-title gradiante">
          <div class="d-flex align-items-center" style="padding: 0 21px;">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69 69" width="54" height="54">
              <g>
                <path class="st3" d="M27.25,17.67h11.52c0.44,0,0.8-0.36,0.8-0.8c0-0.44-0.36-0.8-0.8-0.8H27.25c-0.44,0-0.8,0.36-0.8,0.8
                  C26.45,17.31,26.81,17.67,27.25,17.67z"/>
                <path class="st3" d="M49,47.6V21.2c0-0.01,0-0.01,0-0.02c0-0.01,0-0.01,0-0.02V14.5c0-0.29-0.15-0.55-0.4-0.7
                  c-4.25-2.43-12.33-2.76-14.84-2.8c-0.03,0-0.06-0.01-0.09,0l-0.16,0l-0.18,0c-0.03,0-0.06,0-0.09,0c-2.5,0.04-10.59,0.37-14.84,2.8
                  c-0.25,0.14-0.4,0.41-0.4,0.7v38.52c0,0.17,0.05,0.33,0.15,0.47c0.14,0.2,3.67,4.94,15.09,5.06c0.03,0,0.06,0.01,0.09,0.01l0.17,0
                  l0.17,0c0.03,0,0.06,0,0.09-0.01c11.42-0.12,14.95-4.86,15.09-5.06c0.1-0.14,0.15-0.3,0.15-0.47v-5.39c0-0.01,0-0.01,0-0.02
                  C49,47.61,49,47.61,49,47.6z M19.61,21.99h27.79v24.82H19.61V21.99z M33.34,12.61c0.02,0,0.04,0,0.06,0l0.11,0l0.09,0
                  c0.02,0,0.04,0,0.06,0c1.6,0.03,9.54,0.26,13.74,2.38v5.4H19.61v-5.4C23.8,12.86,31.75,12.63,33.34,12.61z M33.66,56.94
                  c-0.02,0-0.04,0-0.07,0l-0.1,0l-0.09,0c-0.02,0-0.04,0-0.07,0c-9.34-0.08-12.99-3.41-13.73-4.22v-4.3h27.79v4.3
                  C46.64,53.54,42.99,56.86,33.66,56.94z"/>
                <path class="st3" d="M26.57,51.2h-3.38c-0.44,0-0.8,0.36-0.8,0.8c0,0.44,0.36,0.8,0.8,0.8h3.38c0.44,0,0.8-0.36,0.8-0.8
                  C27.38,51.56,27.02,51.2,26.57,51.2z"/>
                <path class="st3" d="M43.83,51.2h-3.38c-0.44,0-0.8,0.36-0.8,0.8c0,0.44,0.36,0.8,0.8,0.8h3.38c0.44,0,0.8-0.36,0.8-0.8
                  C44.63,51.56,44.27,51.2,43.83,51.2z"/>
                <circle class="st3" cx="33.45" cy="52.68" r="2.03"/>
              </g>
            </svg>
            <p class="m-0 h6 text-white">LISTADO DE BLOG</p>
          </div>
        </div>
        <div class="bg-white">
          <div class="buscar-cont p-5">
            <div class="row mb-2 d-flex justify-content-end">
              <div class="col-12 col-sm-4 d-flex justify-content-end">
                <button
                  class="boton-regis btn gradiante btn-block w-75 text-white"
                  [routerLink]="['/adm/listado_blog/registro_blog']"
                >
                  Registrar Blog
                </button>
              </div>
            </div>
            <div class="row">
              <fieldset class="scheduler-border">
                <legend class="scheduler-border"> &nbsp;Buscar por</legend>
                <div class="row mt-3">
                  <div class="col-12 col-sm-3 pb-3 pb-sm-0">
                    <label for="commerce">Comercio</label>
                    <input id="commerce"
                           class="form-control"
                           placeholder="Ingresar información"

                    >
                  </div>
                  <div class="col-12 col-sm-3 pb-3 pb-sm-0">
                    <label for="proccess">Procesos</label>
                    <input id="proccess"
                           class="form-control"
                           placeholder="Ingresar información"
                    >
                  </div>
                  <div class="col-12 col-sm-3 pb-3 pb-sm-0">
                    <label for="state">Estado</label>
                    <input id="state"
                           class="form-control"
                           placeholder="Ingresar información"
                    >
                  </div>
                  <div class="col-12 col-sm-3 pb-3 pb-sm-0">
                    <label for="location">Ubicación</label>
                    <input id="location"
                           class="form-control"
                           placeholder="Ingresar información"
                    >
                  </div>
                </div>
                <div class="row mt-4 d-flex align-items-end justify-content-end">
                  <div class="col-12 col-sm-3 text-right">
                    <button type="button" class="btn gradiante btn-block text-white">Buscar</button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="table-cont mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="commerce">
                      <th mat-header-cell *matHeaderCellDef> N° Publicación </th>
                      <td mat-cell *matCellDef="let element"> {{element.commerce}} </td>
                    </ng-container>

                    <ng-container matColumnDef="proccess">
                      <th mat-header-cell *matHeaderCellDef> Titulo </th>
                      <td mat-cell *matCellDef="let element"> {{element.proccess}} </td>
                    </ng-container>

                    <ng-container matColumnDef="visit">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element"> {{element.visit}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantMsj">
                      <th mat-header-cell *matHeaderCellDef> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.cantMsj}} </td>
                    </ng-container>

                    <ng-container matColumnDef="state"><!-- Por Eliminar -->
                      <th mat-header-cell *matHeaderCellDef> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                    </ng-container>

                    <ng-container matColumnDef="location"><!-- Por Eliminar -->
                      <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>

                    <ng-container matColumnDef="option">
                      <th mat-header-cell *matHeaderCellDef> Opciones </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button class="btn gradiante p-1" [routerLink]="['/adm/listado_blog/detalle_blog/12']">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 86" width="30" height="30">
                            <g id="Capa_1">
                              <g>
                                <path class="stEye" d="M12.22,42.67c1.64-1.6,3.2-3.22,4.86-4.71c2.7-2.43,5.65-4.54,8.84-6.3c3.87-2.14,7.95-3.71,12.35-4.39
                                  c7.01-1.09,13.52,0.5,19.73,3.67c4.96,2.53,9.32,5.88,13.2,9.86c0.6,0.61,1.16,1.26,1.8,1.97c-0.94,0.99-1.85,2-2.83,2.94
                                  c-3.9,3.76-8.23,6.92-13.12,9.28c-3.31,1.6-6.77,2.69-10.41,3.25c-5.46,0.84-10.67-0.08-15.72-2.08
                                  c-6.78-2.69-12.53-6.9-17.52-12.19c-0.19-0.2-0.36-0.41-0.55-0.61C12.69,43.17,12.52,42.99,12.22,42.67z M42.65,30.93
                                  c-0.59,0-1.17-0.04-1.76,0.01c-3.4,0.3-6.65,1.17-9.75,2.6c-0.24,0.11-0.48,0.33-0.61,0.56c-1.54,2.75-2.05,5.72-1.56,8.8
                                  c0.59,3.76,2.44,6.83,5.53,9.08c2.57,1.87,5.47,2.73,8.66,2.61c3.73-0.13,6.88-1.56,9.45-4.22c2.19-2.26,3.45-4.99,3.77-8.15
                                  c0.3-2.97-0.29-5.72-1.75-8.3c-0.08-0.14-0.22-0.27-0.37-0.34C50.57,31.92,46.73,30.87,42.65,30.93z M67.25,42.72
                                  c-2.38-2.37-6.12-5.41-7.27-5.91c1.05,4.71,0.3,9.11-2.16,13.27C59.88,49.19,65.91,44.47,67.25,42.72z M27.38,50.04
                                  c-2.38-4.16-3.12-8.55-2.05-13.33c-2.71,1.82-5.11,3.8-7.33,6.05C20.85,45.6,23.93,48.06,27.38,50.04z"/>
                                <path class="st0" d="M42.57,46.71c-3.18-0.04-5.92-2.76-5.87-5.84c0.05-3.43,2.67-6.1,5.97-6.04c3.46,0.07,5.9,2.76,5.9,5.93
                                  C48.57,44.11,45.83,46.75,42.57,46.71z"/>
                              </g>
                            </g>
                          </svg>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
