<div class="container-fluid">
  <div class="row">
      <div class="ban1 col-sm-12 col-md-12 col-xl-12">
        <div class="ban1-left-block col-sm-12 col-md-6 col-xl-6">
          <h5>Geotextil</h5>
          <h1>¿Quiénes Somos?</h1>
          <p>Somos una empresa peruana con amplia trayectoria en el sector textil, que brinda a los empresarios textiles y afines,
            herramientas de geolocalización que impulsaran su desarrollo industrial y comercial.
          </p>
        </div>
        <div class="ban1-right-block col-sm-12 col-md-6 col-xl-6">
          <img src="../../../../assets/img/1.jpg" alt="">
        </div>
      </div>
      <div class="ban2 col-sm-12 col-md-12 col-xl-12">
        <div class="ban2-left-block col-sm-12 col-md-6 col-xl-6 ">
          <h1>Misión</h1>
          <p>Brindarles a nuestros clientes presencia a nivel nacional, que les permita incrementar sus ventas y ofertar sus servicios a través de nuestra plataforma.
            Y a los usuarios la confiabilidad y rapidez en la búsqueda de los procesos que requieran.</p>
        </div>
        <div class="ban2-right-block col-sm-12 col-md-6 col-xl-6">
          <h1>Visión</h1>
          <p>Ser la plataforma más grande a nivel nacional que reúna a empresarios, emprendedores y usuarios, con la finalidad de concretar relaciones
            comerciales de manera rápida y confiable.
          </p>
        </div>
      </div>
      <div class="ban3 col-sm-12 col-md-12 col-xl-12">
          <div class="ban3-left-block col-sm-12 col-md-6 col-xl-6 ">
            <h2><img src="../../../../assets/img/Recursos-PNG/trofeo.png" alt="">Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, expedita, iure voluptates itaque magnam iste quis consequatur ullam eaque minima deserunt. Exercitationem nemo quis nihil assumenda natus consequuntur voluptates consectetur!</p>
            <h2><img src="../../../../assets/img/Recursos-PNG/ecofriendly.png" alt="">Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, expedita, iure voluptates itaque magnam iste quis consequatur ullam eaque minima deserunt. Exercitationem nemo quis nihil assumenda natus consequuntur voluptates consectetur!</p>
          </div>
          <div class="ban3-right-block col-sm-12 col-md-6 col-xl-6">
            <h2><img src="../../../../assets/img/Recursos-PNG/cima.png" alt="">Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, expedita, iure voluptates itaque magnam iste quis consequatur ullam eaque minima deserunt. Exercitationem nemo quis nihil assumenda natus consequuntur voluptates consectetur!</p>
            <h2><img src="../../../../assets/img/Recursos-PNG/manos.png" alt="">Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, expedita, iure voluptates itaque magnam iste quis consequatur ullam eaque minima deserunt. Exercitationem nemo quis nihil assumenda natus consequuntur voluptates consectetur!</p>
          </div>
      </div>
      <div class="footer col-sm-12 col-md-12 col-xl-12 ">
        <div class="logo-f col-sm-12 col-md-4 col-xl-4">
          <img src="../../../../assets/img/Recursos-PNG/logo.png" alt=""> <!-- Cambiar por SVG para que quede con el color blanco -->
        </div>
        <div class="contact-f col-sm-12 col-md-4 col-xl-4">
          <h5>Contactanos</h5>
          <div class="foot-imgs">
            <p><img src="../../../../assets/img/Recursos-PNG/Contacto-05.png" alt="">CorreoElectrónico@email.com</p>
            <p><img src="../../../../assets/img/Recursos-PNG/Contacto-04.png" alt="">+51 000 000 000</p>
          </div>
        </div>
        <div class="social-f col-sm-12 col-md-4 col-xl-4">
          <h5>Encuentranos tambien en</h5>
          <div class="social-imgs">
            <img src="../../../../assets/img/Recursos-PNG/iconos png-13.png" alt="">
            <img src="../../../../assets/img/Recursos-PNG/iconos png-14.png" alt="">
          </div>
        </div>
      </div>
  </div>
</div>
