svg
  fill: #fff

.grid-elements
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center


.scroll
  height: 64vh
  overflow: hidden
  overflow-y: scroll

@media screen and (min-width: 1920px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: row
      justify-content: space-around
      position: relative
      right: 1.5em

  .bg-white
    .d-flex
      p
        font-size: 1em

  .bg-white
    .d-flex
      .filtro-cont, .order-cont, .service-cont, .local-cont
        i
          font-size: 2em

  .bg-white
    .d-flex
      .order-in
         width: 100% !important
         position: relative
         left: 0.5em

  .bg-white
    .d-flex
      .servicios-in
         width: 100% !important
         position: relative


  .bg-white
    .d-flex
      .local-in
         width: 100% !important
         position: relative


@media screen and (min-width: 1440px) and (max-width: 1600px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: row
      justify-content: space-around
      position: relative
      right: 1.5em

  .bg-white
    .d-flex
      p
        font-size: 1em

  .bg-white
    .d-flex
      .filtro-cont, .order-cont, .service-cont, .local-cont
        i
          font-size: 2em

  .bg-white
    .d-flex
      .order-in
         width: 100% !important
         position: relative
         left: 0.5em

  .bg-white
    .d-flex
      .servicios-in
         width: 100% !important
         position: relative


  .bg-white
    .d-flex
      .local-in
         width: 100% !important
         position: relative


@media   (max-width: 992px)
  .filtro
    display: none!important

@media screen and (min-width: 1001px) and (max-width: 1400px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: row
      justify-content: space-around
      position: relative
      right: 1.5em

  .bg-white
    .d-flex
      p
        font-size: 1em

  .bg-white
    .d-flex
      .filtro-cont, .order-cont, .service-cont, .local-cont
        i
          font-size: 1.5em

  .bg-white
    .d-flex
      .order-in
         width: 7em !important
         position: relative
         left: 0.5em

  .bg-white
    .d-flex
      .servicios-in
         width: 7em !important
         position: relative


  .bg-white
    .d-flex
      .local-in
         width: 7em !important
         position: relative

@media screen and (min-width: 768px) and (max-width: 1000px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: row
      justify-content: space-between
      position: relative
      right: 1.5em

  .bg-white
    .d-flex
      p
        font-size: 0.8em

  .bg-white
    .d-flex
      .filtro-cont
        i
         font-size: 1.5em !important

  .bg-white
    .d-flex
      .order-in
         width: 5em !important
         position: relative
         left: 0.5em

  .bg-white
    .d-flex
      .servicios-in
         width: 4em !important
         position: relative
         right: 0.5em

  .bg-white
    .d-flex
      .local-in
         width: 6em !important
         position: relative
         right: 1em

@media screen and (min-width: 100px) and (max-width: 767px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: columns
      justify-content: flex-start
      align-items: center

  .bg-white
    .d-flex
      .filtro-cont
        padding-left: 3em !important

  .bg-white
    .d-flex
      .order-in
         width: 100% !important

  .bg-white
    .d-flex
      .servicios-in
         width: 100% !important


  .bg-white
    .d-flex
      .local-in
         width: 100% !important

  .bg-white
    .d-flex
      .grid-elements
        margin-bottom: 0.5em
