svg
  fill: #fff

.grid-elements
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center


.scroll
  height: 64vh
  overflow: hidden
  overflow-y: scroll


@media   (max-width: 992px)
  .filtro
    display: none!important



@media screen and (min-width: 768px) and (max-width: 1400px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: columns
      justify-content: center
      align-items: center

  .bg-white
    .d-flex
      .filtro-cont
        i
         font-size: 1em !important

  .bg-white
    .d-flex
      .order-in
         width: 100% !important


  .bg-white
    .d-flex
      .servicios-in
         width: 12em !important

  .bg-white
    .d-flex
      .local-in
         width: 100% !important

@media screen and (min-width: 100px) and (max-width: 767px)

  .bg-white
    .d-flex
      display: flex
      flex-direction: columns
      justify-content: flex-start
      align-items: center

  .bg-white
    .d-flex
      .filtro-cont
        padding-left: 3em !important

  .bg-white
    .d-flex
      .order-in
         width: 105% !important

  .bg-white
    .d-flex
      .servicios-in
         width: 10em !important

  .bg-white
    .d-flex
      .local-in
         width: 10em !important
