  <div class="container-fluid" style="padding: 0 30px; margin-top: 25px;">
    <div class="">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="gradiante">
            <div class="d-flex align-items-center" style="padding: 0 21px;">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 86" width="60" height="50">
                <g id="Capa_1">
                  <g>
                    <path class="st0" d="M10.48,61.2c0.18-0.71,0.33-1.44,0.54-2.14c0.55-1.75,1.58-3.21,2.87-4.49c2.26-2.25,4.51-4.49,6.75-6.76
                      c0.32-0.33,0.6-0.75,0.78-1.17c4.49-10.51,8.97-21.02,13.45-31.53c0.04-0.09,0.07-0.18,0.11-0.27c0.58-1.29,1.66-1.5,2.67-0.5
                      c3.19,3.18,6.37,6.36,9.54,9.56c0.35,0.35,0.58,0.4,1.02,0.14c3.2-1.9,7.18-1.38,9.84,1.24c2.59,2.57,3.13,6.59,1.31,9.79
                      c-0.11,0.19-0.22,0.37-0.35,0.6c0.18,0.19,0.35,0.38,0.53,0.56c3.01,3.01,6.03,6.03,9.04,9.04c0.1,0.1,0.2,0.2,0.3,0.3
                      c1.14,1.16,0.95,2.19-0.53,2.83c-4.48,1.92-8.97,3.83-13.45,5.74c-5.45,2.32-10.91,4.65-16.36,6.97c-0.24,0.1-0.47,0.21-0.81,0.36
                      c0.21,0.22,0.38,0.41,0.55,0.58c2.23,2.24,4.47,4.47,6.7,6.7c0.95,0.95,0.96,1.65,0.03,2.58c-1.65,1.66-3.31,3.32-4.98,4.98
                      c-0.25,0.25-0.55,0.46-0.82,0.68c-0.34,0-0.67,0-1.01,0c-2.85-2.81-5.7-5.61-8.67-8.54c-0.5,0.55-0.94,1.13-1.47,1.61
                      c-5.57,5.05-14.36,2.88-16.94-4.18c-0.28-0.77-0.44-1.59-0.65-2.39C10.48,62.73,10.48,61.96,10.48,61.2z M57.32,49.97
                      c-0.38-0.29-0.63-0.44-0.83-0.64c-5.44-5.43-10.87-10.86-16.3-16.3c-0.24-0.24-0.47-0.48-0.65-0.76
                      c-0.35-0.53-0.26-1.26,0.18-1.72c0.44-0.45,1.18-0.57,1.71-0.22c0.3,0.19,0.56,0.44,0.82,0.7c5.77,5.77,11.55,11.54,17.31,17.32
                      c0.36,0.36,0.63,0.43,1.11,0.22c1.46-0.66,2.94-1.27,4.41-1.9c0.16-0.07,0.31-0.17,0.31-0.17c-9.53-9.54-19.06-19.07-28.59-28.6
                      c-0.02,0.05-0.1,0.19-0.16,0.34c-4.13,9.7-8.25,19.39-12.4,29.08c-0.2,0.48-0.01,0.69,0.27,0.97c3.49,3.48,6.99,6.96,10.45,10.47
                      c0.41,0.42,0.73,0.44,1.24,0.22c3.95-1.71,7.91-3.39,11.86-5.08C51.07,52.64,54.08,51.36,57.32,49.97z M22.25,50.25
                      c-2.11,2.11-4.22,4.22-6.33,6.34c-0.27,0.27-0.54,0.55-0.78,0.84c-1.09,1.31-1.7,2.82-1.77,4.53c-0.14,3.15,1.65,6.05,4.48,7.31
                      c2.9,1.29,6.16,0.75,8.44-1.48c2.21-2.16,4.37-4.36,6.56-6.54c0.08-0.08,0.15-0.18,0.19-0.23C29.45,57.44,25.88,53.88,22.25,50.25
                      z M42.04,70.08c-2.28-2.29-4.61-4.62-6.82-6.84c-1.1,1.09-2.24,2.23-3.34,3.33c2.25,2.25,4.56,4.57,6.83,6.85
                      C39.83,72.3,40.97,71.15,42.04,70.08z M50.01,26.33c2.34,2.34,4.67,4.67,6.98,6.98c1.03-1.92,0.62-4.49-1.05-6.07
                      C54.24,25.64,51.68,25.29,50.01,26.33z"/>
                    <path class="st0" d="M71.63,30.81c-0.86,0-1.72,0.01-2.58,0c-0.93-0.01-1.55-0.59-1.56-1.41c-0.01-0.8,0.55-1.42,1.46-1.44
                      c1.79-0.04,3.58-0.03,5.37,0c0.88,0.02,1.49,0.68,1.47,1.44c-0.01,0.81-0.67,1.4-1.58,1.41C73.35,30.82,72.49,30.81,71.63,30.81
                      C71.63,30.81,71.63,30.81,71.63,30.81z"/>
                    <path class="st0" d="M65.45,19.55c-1.27-0.02-1.93-1.12-1.45-2.05c0.1-0.19,0.23-0.37,0.38-0.52c1.18-1.19,2.36-2.38,3.55-3.56
                      c0.52-0.51,1.13-0.73,1.82-0.39c0.91,0.45,1.04,1.55,0.26,2.36c-1.21,1.26-2.47,2.47-3.7,3.71c-0.03,0.03-0.06,0.08-0.11,0.1
                      C65.9,19.35,65.58,19.49,65.45,19.55z"/>
                    <path class="st0" d="M55.2,11.68c0,0.86,0.01,1.72,0,2.58c-0.02,0.8-0.56,1.39-1.3,1.45c-0.76,0.06-1.49-0.48-1.52-1.3
                      c-0.06-1.84-0.06-3.68,0-5.51c0.03-0.83,0.73-1.35,1.5-1.31c0.76,0.05,1.29,0.64,1.31,1.51C55.21,9.95,55.2,10.82,55.2,11.68z"/>
                    <path class="st0" d="M60.31,21.65c0.01-0.77,0.65-1.4,1.42-1.4c0.75,0,1.42,0.66,1.43,1.41c0.01,0.77-0.7,1.46-1.47,1.44
                      C60.93,23.07,60.3,22.41,60.31,21.65z"/>
                    <path class="st0" d="M38.37,27.77c0,0.77-0.64,1.4-1.41,1.41c-0.75,0-1.42-0.64-1.44-1.39c-0.02-0.75,0.72-1.49,1.46-1.47
                      C37.73,26.34,38.37,27.02,38.37,27.77z"/>
                  </g>
                </g>
              </svg>
              <p class="m-0 h6 text-white">PUBLICIDAD Y PROMOCIÓN - PUBLICACIÓN</p>
              <div class="gradiante-arrow" style="position: absolute; right: 40px;" (click)="goBack();">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93 93" width="50" height="50">
                  <g>
                    <path class="st0" d="M58.53,77c-1.11,0-2.23-0.37-3.16-1.13L25.58,51.5c-1.16-0.95-1.83-2.37-1.83-3.87s0.67-2.92,1.83-3.87
                            l29.79-24.37c2.14-1.75,5.29-1.43,7.04,0.7c1.75,2.14,1.43,5.29-0.7,7.04l-25.06,20.5l25.06,20.5c2.14,1.75,2.45,4.9,0.7,7.04
                            C61.42,76.37,59.98,77,58.53,77z"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="bg-white">
            <div class="p-5">
              <div class="row">
                <div class="mini-slide col-md-4 text-center">
                  <div class="border p-2"><img src="https://via.placeholder.com/500" alt="" class="img-fluid slide"></div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="comercio-cont col-12">
                        <p class="text-danger font-weight-bold title">Comercio Rotunavarro</p>
                        <p class="text-secondary font-weight-bold subtitle">Taller de Costura y Diseño</p>
                        <div class="col-sm-3 col-md-12 col-xl-12 col-12 text-right">
                          <button class="activo-b btn gradiante btn-block text-white">
                            Activo
                          </button>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                    </div>
                    <div class="col-md-6 col-12">
                      <mat-form-field color="accent">
                        <mat-label class="text-danger text-date font-weight-bold">Fecha de Inicio</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="date" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field color="accent">
                        <mat-label class="text-danger text-date font-weight-bold">Fecha de Fin</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControl]="date2" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <div class="row mat-elevation-z8 mt-2 p-4">
                    <div class="mini-slide col-12 col-sm-3 text-center">
                      <div class="border py-2"><img src="https://via.placeholder.com/500" alt="" class="img-fluid slide"></div>
                    </div>
                    <div class="service-cont col-12 col-sm-9">
                      <p class="text-secondary font-weight-bold subtitle">Servicios a Promocionar</p>
                      <p class="text-danger font-weight-bold title">Servicios a Promocionar</p>
                      <br>
                      <p class="text-secondary font-weight-bold subtitle">Descripción de la publicidad y promoción</p>
                      <p class="text-secondary subtitle2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised.
                      </p>
                      <div class="row">
                        <div class="last-bottoms col-sm-12 d-flex justify-content-end">
                          <div class="pr-2">
                            <button class="btn btn-secondary btn-block" (click)="goBack()">Regresar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
