<div class="toolbar pr-0 mr-0">
    <div class="row">
        <!-- CON LOGIN -->
        <div class="cabecera-principal col-12">
            <img src="assets/img/logo-text-less.png" [routerLink]="'/dashboard'" class="logo-img" height="40"
                alt="logo">
            <span class="first">Credit</span>
            <span>Workflow</span>
        </div>
    </div>
    <div class="row pull-right" (click)="cerrarSesion()"
        style="position: relative; top: -12px; font-size: 20px; border-bottom: 12px solid #f7b522;">
        <div class="dato-usuario p-0">
            <div class="row">
                <div class="p-2 last" style="font-size: 20px!important;">Cerrar sesión</div>
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <div class="dato-usuario p-0">
            <div class="row">
                <div class="p-2">{{fecha}}</div>
                <div class="p-2">{{fecha2}}</div>
                <div class="p-2">OneID {{oneId}}</div>
                <div class="p-2">{{usuario}}</div>
                <div class="p-2">{{cargo}}</div>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand m-0" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li routerLinkActive="activo" class="nav-item first">
                    <a class="nav-link" href="#" [routerLink]="'/inicio'">Inicio</a>
                </li>
                <li routerLinkActive="activo" *ngIf="menuletra" class="nav-item else">
                    <a class="nav-link" href="#" [routerLink]="'/lineas-credito'">Lineas de crédito</a>
                </li>
                <li routerLinkActive="activo" *ngIf="operaciones" class="nav-item else">
                    <a class="nav-link" href="#" [routerLink]="'/operaciones'">Operaciones</a>
                </li>
                <li routerLinkActive="activo" *ngIf="soporte" class="nav-item else">
                    <a class="nav-link" [routerLink]="'/soporte'">Soporte</a>
                </li>
                <li routerLinkActive="activo" *ngIf="reporte" class="nav-item else">
                    <a class="nav-link" [routerLink]="'/reporte'">Reporte</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>