<div class="">
  <div class="container-login100" style="background-image: url('../../../assets/img/fondoLogin.png');">
    <div class="wrap-login100 p-t-30 p-b-50">
      <div class="col-12 text-center title-inicio gradiante">
        <span class="text-white">REGISTRARSE</span>
      </div>
      <div class="row" style="padding: 60px; background-color: #ffffff">
        <div class="col-12 p-10 ingresar">
          <button type="button" class="btn btn-primary width-100" (click)="login();">Usuario</button>
        </div>
        <div class="col-12 p-10 ingresar">
          <button type="button" class="btn btn-primary width-100" [routerLink]="['/auth/registro_comercio']">Comercio</button>
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="font-40">&#169;</span><span class="font-12">&nbsp; 2020 GeoTextil | Todos los derechos reservados</span>
    </div>
  </div>
</div>
