@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap')

body
  font-family: "Nunito", sans-serif !important
  font-weight: 700 !important

/* BOOTSTRAP CHANGE

.navbar
  padding: inherit !important

.navbar-light .navbar-nav
  .nav-link
    color: #333

  .active > .nav-item
    background-color: #c82333 !important
    color: white !important
    font-weight: 700

  .nav-item
    &.active, &.show
      background-color: #c82333 !important
      color: white !important
      font-weight: 700

  .show > .nav-item
    background-color: #c82333 !important
    color: white !important
    font-weight: 700

  .active > .nav-link
    color: #fff

  .nav-link
    &.active, &.show
      color: #fff

  .show > .nav-link
    color: #fff

.nav-item
  display: flex
  align-items: center
  height: 65px

.dropdown-item
  &:focus, &:hover
    background-color: #c82333 !important
    color: white !important

  padding: 0.65rem 1.5rem !important

.dropdown-menu
  padding: inherit !important

.item
  align-items: center
  background-color: tomato
  color: white
  display: flex
  height: 80vh
  justify-content: center

.titulo
  font-weight: 700
  text-transform: uppercase

.btn-textil
  text-transform: uppercase
  color: white
  background: #333
  padding: 8px 80px

.bg-gray
  background-color: #ececec !important

  p
    font-size: 2em
    font-weight: 600

.owl-item > .item
  position: relative

.owl-dots
  position: absolute
  display: flex
  justify-content: center
  right: -176px
  top: 0

/* left: 0;
/* bottom: 5px;

.owl-theme .owl-dots .owl-dot
  &.active span, &:hover span
    background: #1d2124 !important

  span
    border: 1px solid #1d2124 !important

.item > img
  object-fit: cover
  height: 80vh

.promo-slide
  > .titulo
    font-size: 4.5rem
    font-weight: 100

    > span
      font-size: 6rem
      font-weight: 600

  position: absolute
  right: 0
  bottom: 8%
  background-color: #000
  width: 300px
  height: 300px
  line-height: 0.9
  padding: 14px

/* display: flex;
 *align-items: center;
 *justify-content: center;

.parrafo-slide
  line-height: normal

@media screen and (min-width: 100px) and (max-width: 768px)
  .owl-dots
    position: absolute
    display: flex
    justify-content: center
    top: inherit !important
    right: 0px
    left: 0
    bottom: -30px

@media screen and (min-width: 768px) and (max-width: 1040px)
  .display-1
    font-size: 4rem !important
