$negro: #212529
svg
    fill: #fff

.grid-elements
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center


.scroll
    height: 64vh
    overflow: hidden
    overflow-y: scroll

.border-top-0
    border-top-right-radius: 0px!important
    border-top-left-radius: 0px!important

.chat-img
    width: 200px
    height: 100px
    object-fit: cover

.burbuja
    margin-left: auto
    width: 75%

.bombom
    margin-righ: auto
    width: 75%

.punto
    width: 15px
    height: 15px
    background: #dc3545
    border-radius: 50%
    margin-left: auto

.menu-lateral
    width: 275px
    background-color: white
    height: 100%
    position: fixed
    top: 0
    z-index: 5

.items
    color: white

.list-geo
    >li
        padding: 1em
        color: #212529
        font-weight: 600
        >svg
            fill: $negro

.active
    background-color: #dc3545
    color: white!important
    font-weight: 600
    >svg
        fill: white!important

.list-geo
    padding: 0
    margin: 0
    >li
        list-style: none