svg
    fill: #fff

.grid-elements
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center


.scroll
    height: 500px
    overflow: hidden
    overflow-y: scroll

.border-top-0
    border-top-right-radius: 0px!important
    border-top-left-radius: 0px!important

.chat-img
    width: 200px
    height: 100px
    object-fit: cover

.burbuja
    margin-left: auto
    width: 75%

.bombom
    margin-righ: auto
    width: 75%

.punto
    width: 15px
    height: 15px
    background: #dc3545
    border-radius: 50%
    margin-left: auto

.menu-lateral
    width: 331px
    background-color: white
    height: 100%
    position: absolute
    top: 0
    z-index: 5

.items
    background-color: #dc3545
    padding: 1em
    color: white

.list-geo
    padding: 0
    margin: 0
    >li
        list-style: none