<div class="container-fluid" style="padding: 0 30px; margin-top: 25px;">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="gradiante">
                    <div class="d-flex align-items-center" style="padding: 0 21px;">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 86" heigth="90" width="60">
                        <g id="Capa_1">
                          <g>
                            <path class="st0" d="M60.85,47.94c-2.23-2.23-6.01-3.44-9.57-4.09c3.65-2.53,6.04-6.75,6.04-11.51c0-7.73-6.29-14.01-14.01-14.01
                      c-7.73,0-14.01,6.29-14.01,14.01c0,4.83,2.46,9.1,6.2,11.62c-3.38,0.67-6.88,1.87-9,3.98c-4.86,4.86-3.79,16.13-3.75,16.61
                      l0.05,0.5l0.32,0.38c0.23,0.27,5.49,6.4,18.56,7.08v0.06h1.63l0.35-0.01l0.38,0.01l1.63-0.01v-0.05
                      c13.07-0.67,18.34-6.81,18.56-7.08l0.32-0.38l0.05-0.5C64.65,64.08,65.71,52.8,60.85,47.94z M32.55,32.34
                      c0-5.93,4.83-10.76,10.76-10.76s10.76,4.83,10.76,10.76s-4.83,10.76-10.76,10.76S32.55,38.27,32.55,32.34z M61.41,63.67
                      c-1.3,1.23-6.56,5.46-17.4,5.64l-0.27,0.01l-0.08,0l-0.32-0.01c-10.85-0.17-16.1-4.41-17.4-5.63c-0.23-3.21-0.09-10.49,2.86-13.43
                      c2.61-2.61,9.24-3.72,14.56-3.88l0.24-0.01c0.01,0,0.03,0,0.04,0l0.03,0l0.03,0l0.29,0.01c5.33,0.16,11.95,1.27,14.56,3.88
                      C61.49,53.19,61.63,60.47,61.41,63.67z"/>
                          </g>
                        </g></svg>
                      <p class="m-0 h6 text-white">DETALLE DEL USUARIO</p>
                      <div class="gradiante-arrow" style="position: absolute; right: 40px;" (click)="goBack();">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93 93" width="50" height="50">
                          <g>
                            <path class="st0" d="M58.53,77c-1.11,0-2.23-0.37-3.16-1.13L25.58,51.5c-1.16-0.95-1.83-2.37-1.83-3.87s0.67-2.92,1.83-3.87
                              l29.79-24.37c2.14-1.75,5.29-1.43,7.04,0.7c1.75,2.14,1.43,5.29-0.7,7.04l-25.06,20.5l25.06,20.5c2.14,1.75,2.45,4.9,0.7,7.04
                              C61.42,76.37,59.98,77,58.53,77z"/>
                          </g>
                        </svg>
                      </div>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 content-img">
                                <div class="p-2 content-width-img text-center">
                                  <img src="https://via.placeholder.com/500" width="100" alt="" class="img-fluid slide">
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="row w-100 d-flex justify-content-center">
                                    <div class="col-md-4">
                                          <label class="text-danger font-weight-bold" for="">Nombre</label>
                                          <input type="text" class="form-control" value="Maricielo Reyes" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="row w-100 d-flex justify-content-center">
                                    <div class="col-md-4">
                                        <label class="text-danger font-weight-bold" for="">Correo Electrónico</label>
                                        <input type="text" class="form-control" value="maricielo@mail.com" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="row w-100 d-flex justify-content-center">
                                    <div class="col-md-4">
                                        <label class="text-danger font-weight-bold" for="">Número Telefónico</label>
                                        <input type="text" class="form-control" value="222-222-221" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5">
                                <div class="row w-100">
                                  <div class="last-bottoms col-md-12 d-flex justify-content-center">
                                    <div class="p-2">
                                      <button class="btn btn-secondary btn-block" (click)="goBack();">Regresar</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
